version: '3.5'

services:

  nest-app:
    container_name: nest-app
    build: .
    restart: always
    ports:
      - '4000:4000'
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres
    container_name: db
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - PG_DATA=/var/lib/postgresql/data
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
