version: '3.5'

services:

  nest-app:
    container_name: nest-app
    build: .
    restart: always
    ports:
      - '4000:4000'
    depends_on:
      - db
    volumes:
      - /app/node_modules
      - .:/app
    env_file:
      - .env

  db:
    image: postgres
    container_name: postgres-nest-app
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      PG_DATA: /var/lib/postgresql/data
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user@gmail.com
      PGADMIN_DEFAULT_PASSWORD: password123

volumes:
  pgdata:
